/* Style the stars */
.star {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: black;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
  clip-path: polygon(50% 0%, 61.8% 38.2%, 100% 44.1%, 70.9% 70.1%, 79.1% 100%, 50% 82.4%, 20.9% 100%, 29.1% 70.1%, 0% 44.1%, 38.2% 38.2%);
}

/* Style the filled stars */
.star.filled {
  background-color: #FFD700;
  border: 1px solid #FFD700;
}

.underline {
  border-bottom: 1px solid #000; /* You can change the color (#000) to your preferred color */
  padding-bottom: 0px; /* Adjust as needed to control the distance between the text and the underline */
  width: 36rem;
  margin-right: 30px;
}

.profileTabs {
  color: #ffab40;
  transition: background-color 0.3s, transform 0.3s;
}

.profileTabs:hover {
  color: black;
  transform: scale(1.1); /* Adjust the scaling factor for the "grow" effect */
  cursor: pointer;
}

.content {
  display: none; /* initially hide the content */
  
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.grower{
  font-size: 23px;
}

.delete_mod i {
  color: #26a69a;
  transition: color 0.2s; /* Added color transition */
}

.delete_mod:hover i {
  color:  red;/* Change this to the desired highlight color */
  cursor: pointer;
}

.add_Mod i,
.edit_club i {
  color: #26a69a;
  transition: color 0.2s; /* Added color transition */
}

.add_Mod:hover i {
  color: #ffab40; /* Change this to the desired color for delete_user */
  cursor: pointer;
}

.edit_club:hover i {
  color: #ffab40; /* Change this to the desired color for edit_user */
  cursor: pointer;
}

.clear{
  background-color: aliceblue;
}
