/* Style the stars */
.star {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: black;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
  clip-path: polygon(50% 0%, 61.8% 38.2%, 100% 44.1%, 70.9% 70.1%, 79.1% 100%, 50% 82.4%, 20.9% 100%, 29.1% 70.1%, 0% 44.1%, 38.2% 38.2%);
}

/* Style the filled stars */
.star.filled {
  background-color: #FFD700;
  border: 1px solid #FFD700;
}

.underline {
  border-bottom: 1px solid #000; /* You can change the color (#000) to your preferred color */
  padding-bottom: 0px; /* Adjust as needed to control the distance between the text and the underline */
  width: 30rem;
}

.profileTabs{
  color: black;
}

.content {
  display: none; /* initially hide the content */
  padding: 20px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.info{
  font-size: 1.3rem
  
}